@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "graenmetal";
  src: 
    url(fonts/graen-metal/GraenMetal-Regular.woff2) format(woff2),
    url(fonts/graen-metal/GraenMetal-Regular.woff) format(woff1);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 20px;
  height: 100vh;
  width: 100%;
  background: #E2E8F0;
}

.header {
  width: 100%;
  font-size: 24px;
  letter-spacing: 2px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 200px; 
}

.heading {
  display: flex;
  gap: 8px;
  justify-self: center;
}

.heading svg {
  height: 60px;
  width: auto;
  color: #6E1A37;
}

.heading h1 {
  margin: 0;
  color: #6E1A37;
  font-family: "graenmetal", Verdana, Geneva, Tahoma, sans-serif;
}

.new-book,
.remove-btn,
.status-btn {
  padding: 10px 20px;
  background: #72BAA9;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.new-book {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: end;
}

.new-book:focus,
.new-book:hover {
  outline: 2px solid #6E1A37;
  background-color: #78d4be;
}

.new-book svg {
  height: 25px;
  width: auto;
  color: white;
}

.bookshelf {
  background: #D5E7B5;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: start;
  gap: 20px;
  box-shadow: 0px -1px 5px -1px #6E1A37;
  border-radius: 10px;
}

.card {
  min-width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #6E1A37;
  color: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.remove-btn {
  font-size: 16px;
}

.remove-btn:focus,
.remove-btn:hover,
.status-btn:focus,
.status-btn:hover {
  outline: 2px solid #000000;
  background-color: #78d4be;
}

#new-book-dialog {
  margin: auto;
  padding: 20px;
  background: #FFFDE1;
  color: #980404;
  font-weight: bold;
  width: 800px;
}

#new-book-dialog::backdrop {
  backdrop-filter: blur(1px);
  background-color: rgb(255 255 255 / 10%);
}

.new-book-form {
  display: grid;
  gap: 15px;
  font-size: 18px;
}

.new-book-form input,
.new-book-form select {
  padding: 5px;
  border: 2px solid #93BD57;
  border-radius: 5px;
  background: none;
}

.new-book-form input:focus,
.new-book-form select:focus {
  background-color: #E2E8F0;
  outline: none;
}

.new-book-form button {
  color: #93BD57;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: #980404;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
}

.new-book-form button:hover,
.new-book-form button:focus {
  background-color: #B32727;
}

.input-elem {
  display: grid;
}

.form-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}

